:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
    background-color: var(--Dark-cyan);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    text-align: center;
    background-color: white;
    border-radius: 15px;
    width: 375px;
    overflow: hidden;

    &-header{
        width: 100%; 
        
        & img{
            width: 100%;
        }

    }

    &-main{
        
        &-photo{
            margin-top:-100px;
        }

        &-photo span{

            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            
            & img{
                width: 200px;
                height: 200px;   
                padding: 30px;            
                background-color: white; 
                
            }
        }
        
    }
}


